flask
werkzeug==0.15.5
flask-jwt-extended
flask-migrate
flask-restful
flask-script
flask-sqlalchemy
password_strength
pymysql
pytest
pytest-cov
requests
requests_oauthlib
flask-cors
midtransclient
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

